body{
    width:200px;
    height: 100px;
}

button{
    background-color:#00a1e0;
    color: white;
}

.buttonStart{
    background-color:green;
    color: white;
}

.buttonStop{
    background-color:red;
    color: white;
}

button:disabled{

    background-color: gray;
}